.weather-card {
    background-color: #ffe7fe;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgb(72, 40, 60);
    border-radius: 25px; /* Rounded corners */
    padding: 40px;
    text-align: center;
    /* width: 250px;
    margin: 10px auto; */
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #bc169b;
}

.weather-card p {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}

.weather-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px 0 20px 0;
}  

.city-name {
    font-weight: bold 700;
    font-size: 28px;
    color: #bc169b;
    margin-bottom: 10px;
}
.temperature {
    font-size: 48px;
    font-weight: bold 700;
    color:  #bc169b;
    line-height: 1;
    /* margin: 10px 0; */
}

.weather-icon {
    width: 150px;
    height: 150px;
}

@media (max-width: 768px) {
  .weather-main {
    flex-direction: column; /* Stack vertically on mobile */
  }
  
  .temperature {
    font-size: 3rem; /* Smaller on mobile */
  }
}